body{
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-family: 'Bebas Neue', cursive;
    font-size:48px;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size:80px;
    margin-bottom: 0;
    margin-top: 0;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
section.top-banner {
    padding-top:100px;
}
.half-width {
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.half-width img{
    width: 100%;
}
.orange-highlight{
    color: orange;
}
.hero-text {
    margin-top: 80px;
}
.link-button {
    text-decoration: none;
    padding: 15px 40px;
    background-image: linear-gradient(45deg,blue,cyan);
    color: white;
    border-radius: 5px;
    
}
.top-banner p{
    margin-bottom: 50px;
}
.about-section img {
    width: 80%;
}
.about-section p{
    margin-bottom: 50px;
}
.about-section h2{
    margin-bottom: 0;
}
