body{
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-family: 'Bebas Neue', cursive;
    font-size:48px;
    font-weight: 500;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size:80px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 500;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
section.top-banner {
    padding-top:100px;
}
.half-width {
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.half-width img{
    width: 100%;
}
.orange-highlight{
    color: orange;
}
.hero-text {
    margin-top: 80px;
}
.link-button {
    text-decoration: none;
    padding: 15px 40px;
    background-image: linear-gradient(45deg,blue,cyan);
    color: white;
    border-radius: 5px;
    
}
.top-banner p{
    margin-bottom: 50px;
}

/* About section */
/* ============== */
.about-section img {
    width: 80%;
}
.about-section p{
    margin-bottom: 50px;
}
.about-section h2{
    margin-bottom: 0;
}

/* Project section */
/* ============== */
.project-section{
    background-color: #E5E5E5;
    padding-top: 50px;
    overflow: hidden;
    clear: both;
}
.project-section h2{
    text-align: center;
}
.col_1_of_3 {
    float: left;
    width: 24%;
    margin-left: 4%;
    padding: 2%;
    background-color: white;
    border-radius: 10px;
 
}
.col_1_of_3 img{
    width: 100%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.project-link {
    text-decoration: none;
    display: block;
    color: black;
}

/* Contact section */
/* ============== */
.inquiry-section{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 150px;
  
}
.inquiry-col{
    width: 100%;
    background-image: url("images/Group.png");
    height: 200px;
    padding:5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 20px;
}
.chat-button {
    text-decoration: none;
    color: white;
    display: block;
    background-image: linear-gradient(180deg,orange,rgb(240, 178, 64));
    padding:15px 20px;
    margin-top:70px;
    margin-left: 50%;
    width: 30%;
    text-align: center;
    border-radius: 5px;
}
.inquiry-col h2{
    margin-top: 60px;
}

/* Services section */
/* ============== */
.services-section img{
    width:80px;
    height: 80px;
    border-radius: 50%;
}
.services-section h2 {
    text-align: center;
}
.services-section h3{
    text-align: center;
}
.services-section p{
    text-align: center;
}

.services-section .col_1_of_3{
    box-shadow: 10px 10px 40px gray;
}